.header{
    background-color: black ;
    color: white;
}
.header-container{
    display: flex;
    padding: 250px 0px 100px;
}
.header-contents{
    animation: fadeIn 3s;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 55%;

}
.header-contents h6{
    font-size: 1.125rem;
    font-weight: 400;
    color: #bf9444;
    line-height: 1.625rem;
    font-family: "Jost",sans-serif;
    display: inline-block;
    margin-bottom: 15px;
}
.header-contents h1{
    font-size: 74px;
    font-weight: 700;
    color: #fff;
    font-family: "Cormorant Garamond",serif;
    line-height: 1.1;
    margin-bottom: 35px;
}
.header-contents p{
    font-size: 1.125rem;
    font-weight: 400;
    color: #fff;
    font-family: "Jost",sans-serif;
    margin-bottom: 55px;
}
.button{
    font-size: 1.125rem;
    font-weight: 500;
    color: #bf9444;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid;
    border-color: #bf9444;
    display: inline-block;
    z-index: 2;
    transition: all .3s ease;
    position: relative;
    overflow: hidden;
    padding: 13px 23px;
}
.header-right{
    position: relative;
    margin-top: 50px;
}
.img-fluid{
    max-width: 80%;
    height: auto;
}
.img-2{
    padding: 0 15px;
}
.img-3{
    padding: 0 15px;
    position: absolute;
    left: 266px;
    top: 3px;
}
.img-4{
    position: absolute;
    left: 135px;
    top: -142px;
}
.img-5{
    position: absolute;
    left: 134px;
    top: 118px;
}

@media (max-width:1050px) {
    .header{
        height: 60vw;
    }
    .header-container{
        padding: 150px 0px;
    }
    .header-contents{
        max-width: 100%;
    }
    .img-fluid{
        display: none;
    }
}

@media (max-width:900px) {
    .header-contents h6{
        font-size: 1rem;
    }
    .header-contents h1{
        font-size: 60px;
    }
    .header-contents p{
        margin-bottom: 15px;
    }
}

@media (max-width:750px) {
    .header-contents h6{
        font-size: 0.75rem;
    }
    .header-contents h1{
        font-size: 50px;
    }
    .button{
        display: none;
    }
}

@media (max-width:480px) {
    .header-contents h6{
        font-size: 0.75rem;
    }
    .header-contents h1{
        font-size: 30px;
    }
}
